# NOTE: Change the paths to match your setup.
# Then copy to ~/.local/share/applications.

[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Crystal Picnic
GenericName=Crystal Picnic
Comment=Crystal Picnic
Icon=/home/trent/Crystal Picnic 1.7 (64 bit)/stuff/icon.png
Exec="/home/trent/Crystal Picnic 1.7 (64 bit)/CrystalPicnic"
Categories=Game;
Path=/home/trent/Crystal Picnic 1.7 (64 bit)

