<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ca.nooskewl.crystalpicnic"
      android:versionCode="13"
      android:versionName="1.6.2">
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:logo="@drawable/logo" android:banner="@drawable/banner" android:theme="@style/NoActionBar">
        <activity android:name="ca.nooskewl.crystalpicnic.CPActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  android:screenOrientation="sensorLandscape"
                  android:configChanges="screenLayout|uiMode|orientation"
		   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DREAMING_STARTED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DREAMING_STOPPED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!--  Tell Allegro the name of the game .so when using dynamic linking -->
            <meta-data android:name="org.liballeg.app_name" android:value="crystalpicnic"/>
        </activity>
        <meta-data android:name="isGame" android:value="true"/>
    </application>
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.gamepad" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-sdk android:minSdkVersion="21"/>
</manifest> 
