<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>midiplayer</string>
	<key>CFBundleIdentifier</key>
	<string>com.nooskewl.midiplayer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>0.0</string>
	<key>CFBundleExecutable</key>
	<string>midiplayer</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Nooskewl. All rights reserved.</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0</string>
</dict>
</plist>
